---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://claygardenpress.com/</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>https://claygardenpress.com/about/</loc>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://claygardenpress.com/privacy/</loc>
    <changefreq>monthly</changefreq>
  </url>
  {% for post in collections.posts %}
  <url>
    <loc>https://claygardenpress.com{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
  {% endfor %}
</urlset>
